<menu-client></menu-client>

<main class="">
    <h2>Detalles doctor</h2>
    <hr>
    <section class="details-info">
        <div>
            <p><b>Nombre: </b>This</p>
            <p><b>Fecha de inicio: </b>This</p>
        </div>
        <div>
            <p><b>Telefono: </b>This</p>
            <p><b>Email: </b>This</p>
        </div>
        <div>
            <p><b>Especialidad: </b>This</p>
        </div>
    </section>
    <section class="sched-view">
        <section class="input-controlers">
            <div class="day-select">
                <label for="day">Seleccione día</label>
                <select class="form-select" id="day">
                    <option value="">Lunes</option>
                    <option value="">Martes</option>
                    <option value="">Miercoles</option>
                    <option value="">Jueves</option>
                    <option value="">Viernes</option>
                </select>
            </div>
        </section>
    
    
        <h3 style="margin-top: 20px;">
            Horarios
        </h3>
    
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Hora inicio</th>
                    <th>Hora final</th>
                    <th>Acciones</th>
                </tr>
            </thead>
    
            <tbody>
                <tr>
                    <td>1</td>
                    <td>0:00</td>
                    <td>0:00</td>
                    <td >
                        <button class="btn btn-success">
                            Reservar
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
        
    </section>

</main>