main {
    padding: 20px;

    .day-select {
        font-weight: 500;
        display: flex;
        gap: 5px;
        flex-direction: column;
        max-width: 200px;
    }

    .calc-by {
        max-width: 200px;
    }

    padding-bottom: 20px;

}

.calculator-inputs {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
    align-items: center;
}

.button-send {
    display: flex;
    justify-content: flex-end;
    margin-right: 18px;
}


.personal-data {
margin-bottom: 20px;
}
.inputs-cont {
    max-width: 300px;
}
