<menu-client></menu-client>

<main>
    <h2>
        Citas realizadas 
    </h2>
    <hr>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Fecha</th>
                <th>Hora Inicio</th>
                <th>Hora Final</th>
                <th>Estatus</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>1/2/2</td>
                <td>12:20</td>
                <td>12:20</td>
                <td>Bloqueado</td>
                <td>
                    <button class="btn btn-danger">
                        Cancelar
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</main>