<menu-client></menu-client>

<main>
    <h2>
        Doctores disponibles
    </h2>
    <hr>
    <section class="cards-container">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Martino Paez</h5>
                <div class="text-desc">
                    <p class="card-text"><b>Especialidad:</b> Ortopeda</p>
                    <p class="card-text"><b>Dias disponibles</b> Lunes, Martes, Miercoles, Jueves, Viernes</p>
                </div>
                <button class="btn btn-primary" routerLink="/client/doctors-detail">Ver Horarios</button>
            </div>
        </div>

        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Martino Paez</h5>
                <div class="text-desc">
                    <p class="card-text"><b>Especialidad:</b> Ortopeda</p>
                    <p class="card-text"><b>Dias disponibles</b> Lunes, Martes, Miercoles, Jueves, Viernes</p>
                </div>
                <button class="btn btn-primary">Ver Horarios</button>
            </div>
        </div>

        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Martino Paez</h5>
                <div class="text-desc">
                    <p class="card-text"><b>Especialidad:</b> Ortopeda</p>
                    <p class="card-text"><b>Dias disponibles</b> Lunes, Martes, Miercoles, Jueves, Viernes</p>
                </div>
                <button class="btn btn-primary">Ver Horarios</button>
            </div>
        </div>
    </section>
</main>