<menu-client></menu-client>

<main>
    <h2>
        Doctores disponibles
    </h2>
    <hr>
    <section class="cards-container">
        <div class="card" *ngFor="let doctor of doctors" style="width: 18rem;" > 
            <div class="card-body" >
                <h5 class="card-title">{{doctor.fullName }}</h5>
                <div class="text-desc">
                    <p class="card-text"><b>Especialidad:</b> {{doctor.especialities.name}}</p>
                 </div>
                <button class="btn btn-primary" [routerLink]="['/client/doctors-detail', doctor.id]">Ver Horarios</button>
            </div>
        </div>

      
    </section>
</main>